.navbar-brand {
max-width: 8em;
}

main {
    background-color: rgb(13, 9, 68);
}

body {
    color: antiquewhite;
}

aside {
    background-color: #917B00;
    border-radius: 1em;
}

.contact, h2 {
    background-color: black;
}

h2, h3, .contact, h4 {
    text-decoration: underline;
}

.mail, .phone {
    text-decoration: none;
    color: antiquewhite;
}

footer {
    background-color: black;
}