.navbar-brand {
    max-width: 15vmax;
}

.navbar {
    background-color: #C85A19;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #090C02;
    background-color: #E6EED6;
}

a {
    color: #C85A19;
}

.btn {
    background-color: #C85A19;
    border-color: #C85A19;
}

h2 {
    padding: 0.1em;
    color: #E6EED6;
    background-color: #C85A19;
}

.map-responsive, .mail, .phone {
    overflow: hidden;
}

footer, .contact {
    background-color: #1E1E24;
    color: #C85A19;
}

nav.breadcrumb {
    background-color: #E6EED6;
}

.offcanvas, .offcanvas-body {
    background-color: #C85A19;
    text-decoration: none;
    color: #E6EED6;
}